$buttonColor: #380647;
$borderColor: #A58BAB;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    flex-grow: 1;
    text-align: center;
    padding-left: 50px;
}

.subTitle {
    margin-bottom: 10px;
}

.input {
    height: 1.5rem;
    width: 10rem;
    border-top: 200rem;
    border-color: black;
}

.button {
    background-color: $buttonColor;
    color: white;
    border: 1px;
    border-radius: 2px;
    border-color: $borderColor;
    height: 1.5rem;
    max-width: 10rem;
    overflow: hidden;
}

.addUser {
    margin-left: 10rem;
}
