$buttonColor: #380647;
$borderColor: #380647;

.header {
    display: flex;
    justify-items: space-between;
    align-items: center;
}

.title {
    flex-grow: 1;
    text-align: center;
    padding-left: 50px;
}

.subTitle {
    margin-bottom: 10px;
}

.input {
    height: 1.5rem;
    border: 1px solid;
    border-color: $borderColor;
    border-radius: 5px;
}

.button {
    background-color: $buttonColor;
    color: white;
    border: 1px;
    border-radius: 2px;
    border-color: $borderColor;
    height: 1.5rem;
    max-width: 10rem;
    overflow: hidden;
}

.bottomLine {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 550px) {
    .input {
        width: 17rem;
    }
}

@media screen and (min-width: 551px) {
    .input {
        width: 25rem;
    }
}

