$buttonColor: #380647;
$borderColor: #380647;

.title {
    text-align: center;
}

.input {
    height: 1.5rem;
    border: 1px solid;
    border-color: $borderColor;
    border-radius: 5px;
}

.button {
    background-color: $buttonColor;
    color: white;
    border: 1px;
    border-radius: 2px;
    border-color: $borderColor;
    height: 1.5rem;
    max-width: 10rem;
    overflow: hidden;
}

.bottomLine {
    display: flex;
    justify-content: space-between;
}

.invalid {
    opacity: 100;
    background-color: #f13401;
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    margin: 1.5rem 1.5rem;
    padding: 1rem;
    padding-top: .5rem;
    transition: opacity 1s ease-in;
}

@media screen and (max-width: 550px) {
    .input {
        width: 17rem;
    }
}

@media screen and (min-width: 551px) {
    .input {
        width: 25rem;
    }
}

