.card {
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    margin: 2rem auto;
    max-width: 600px;
    padding: 10px;
}

.card-invalid {
    @extend .card;
    z-index: 100;
    position: fixed;
    background-color: #f13401;
    color: white;
    margin: 0 7rem;
    padding: 20px 5rem;
    transition: opacity 1s ease-in;
}

@media screen and (max-width: 550px) {
    .card-invalid {
        margin: 0 5rem;
        padding: 20px 10px;
    }
}

